<HTML>
	{% extends "layout.html" %}
	{% block title %}Test{% endblock %}
	{% block head %}
		{{ super() }}
	{% endblock %}
	{% block content %}
		<div class="container-fluid">
    
                    <h3>Upload File (Json supported only currently)</h3>
                    <form action="{{ url_for('upload_json') }}" method=post enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="file" class="form-control" name=filez />
                            </div>
                            <div class="col-sm-1">                               
                                    <input type="submit" class = "form-control" value="Submit" />
                            </div>
                        </div>
                        
                        
                                

            </form>
		</div>
	{% endblock %}
</HTML>
