<HTML>
	{% extends "layout.html" %}
	{% block title %}Test{% endblock %}
	{% block head %}
		{{ super() }}
	{% endblock %}
	{% block content %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
                    <h1>Test</h1>
					<p> Elastic Search is:
                    {% if res == 200 %}
                        UP
                    {% else %}
                        DOWN
                    {% endif %}
                        
                    </p>
				</div>
			</div>
		</div>
	{% endblock %}
</HTML>

